.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

@media (max-width:600px) {

    .products {
        flex-direction: column;
        padding-top: 30px;
    }


}