.login {

    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(11, 11, 11, 0.5)),
        url("../../public/register.avif") center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login .formContainer {
    width: 25%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.login .formContainer h1 {
    font-size: 24px;
    font-weight: 300;
}

.login .formContainer form {
    display: flex;
    flex-direction: column;

}

.login .formContainer form input {
    flex: 1;
    min-width: 40%;
    margin: 12px 0;
    padding: 10px;
}

.login .formContainer form button {
    width: 32%;
    border: none;
    border-radius: 2px;
    padding: 12px 16px;
    background-color: teal;
    color: white;
    cursor: pointer;
    display: block;
    margin: auto;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login .formContainer a {
    margin: 3px 0px;
    font-size: 12px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

@media (max-width:600px) {
    .login .formContainer {
        width: 80%;
        padding: 30px 20px;
    }

    .login .formContainer h1 {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .login .formContainer form {
        justify-content: left;
        align-items: center;

    }

    .login .formContainer form input {
        width: 100%;
        padding: 7px;
    }

    .login .formContainer form button {

        padding: 9px 12px;
        margin-top: 15px;
        margin-bottom: 8px;
    }

    .register .formContainer a {

        font-size: 11px;

    }
}