.register {

    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(11, 11, 11, 0.5)),
        url("../../public/register.avif") center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.register .formContainer {
    width: 35%;
    padding: 30px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.register .formContainer h1 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

.register .formContainer form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;



}

.register .formContainer form input {
    width: 45%;
    margin: 6px 0;
    padding: 10px;
}

.register .formContainer form button {
    width: 32%;
    border: none;
    border-radius: 2px;
    padding: 12px 16px;
    background-color: teal;
    color: white;
    cursor: pointer;
    display: block;
    margin: auto;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.register .formContainer a {
    margin: 3px 0px;
    font-size: 12px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}