.newsletter {
    height: 60vh;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.newsletter h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.newsletter .description {
    font-size: 24px;
    margin-bottom: 20px;
}


.newsletter .inputContainer {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;

}


.newsletter .inputContainer input {
    flex: 8;
    height: 40px;
    border: none;
    font-size: 16px;
    padding-left: 20px;
}

.newsletter .inputContainer button {
    flex: 1;
    height: 40px;
    color: white;
    background-color: teal;
    border: none;
}

@media (max-width:900px) {
    .newsletter {
        height: 40dvh;
        text-align: center;
        justify-content: center;
    }

    .newsletter h1 {
        font-size: 35px;
        margin-bottom: 5px;
    }

    .newsletter .description {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .newsletter .inputContainer {
        width: 85%
    }



}