.slider {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slider .arrowContainer {
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;


}

.slider .arrowContainer.left {
    left: 10px;
}

.slider .arrowContainer.right {
    right: 10px;
}

.slider .wrapper {
    display: flex;
    flex-direction: row;

}

.slider .wrapper .slide {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 900px) {
    .slider {
        display: none;
    }
}












.slider .wrapper .slide .imgContainer {
    flex: 1;
    height: 100%;
}

.slider .wrapper .slide .imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* defining the aspect ratio of the imaage */

}



.slider .wrapper .slide .infoContainer {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider .wrapper .slide .infoContainer h1 {
    font-size: 70px;
}

.slider .wrapper .slide .infoContainer p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 40px 0px;

}

.slider .wrapper .slide .infoContainer button {
    background-color: transparent;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;

}