.categoryitem {
    flex: 1;
    height: 70vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.categoryitem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categoryitem .infoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.categoryitem .infoContainer h1 {
    color: white;
    font-size: 50px;
    margin: 5px;
}

.categoryitem .infoContainer button {
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
}

@media (max-width:600px) {
    .categoryitem {
        margin-top: 1px;
    }
}